{% extends 'todos/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
<h1>{{request.user}}</h1>

<div><h2>Menim gonderdiklerim</h2></div>

<a href= "{% url "logout"  %}" >logout</a>
{% else %}
<h1><a href= "{% url "login" %}" >login</a></h1>
<h1><a href= "{% url "register" %}" >register</a></h1>



{% endif %}
{% for i in sent_to_tasks %}
<div>{{i.title}}</div>
<div>{{i.description}}</div>
<div>{{i.due_to}}</div>
<div>{{i.created_at}}</div>
<div>{{i.update_at}}</div>
<div>{{i.is_completed}}</div>


{% endfor %}
<form method="post" action="{% url 'index' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-primary">Geriyə qayıt</button>
</form>
{% endblock %}